In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset['charges']
independent
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [6]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [8]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
'max_features': ['auto','sqrt','log2'],
'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3,n_jobs=-1)
# fitting the model for grid search
grid.fit(independent, dependent)

C:\Users\thiru\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    5.7s
[Parallel(n_jobs=-1)]: Done  47 out of  54 | elapsed:    6.2s remaining:    0.8s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    6.4s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
re=grid.cv_results_
print("The R_score value for best parameter {}:".format(grid.best_params_))

The R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008363,0.000666,0.003821,1.665661e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.701505,0.659894,0.695803,0.685734,0.018420,8
1,0.008203,0.002058,0.002344,1.201284e-03,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.718897,0.661469,0.688126,0.689497,0.023465,7
2,0.008358,0.004784,0.002006,6.257699e-07,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.646211,0.690194,0.593840,0.643415,0.039386,15
3,0.005619,0.001444,0.003717,1.486224e-03,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.691257,0.697170,0.665765,0.684731,0.013626,9
4,0.007294,0.002485,0.003836,2.573770e-04,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.621419,0.496500,0.596117,0.571345,0.053922,18
5,0.007455,0.002032,0.002954,1.339034e-03,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.608098,0.618761,0.601076,0.609312,0.007271,17
6,0.070633,0.013603,0.003187,8.571889e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.692662,0.730001,0.679061,0.700575,0.021536,4
7,0.040710,0.002172,0.002675,9.419004e-04,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.674287,0.731019,0.674464,0.693257,0.026702,6
8,0.029064,0.003553,0.002870,1.223327e-03,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.725368,0.665731,0.752737,0.714612,0.036325,2
9,0.025782,0.004139,0.004290,1.685698e-03,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.719643,0.717612,0.571461,0.669572,0.069380,13
10,0.028437,0.004893,0.002364,5.085162e-04,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.677583,0.745649,0.673740,0.698991,0.033030,5
11,0.029454,0.005181,0.003338,1.251526e-03,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.709520,0.694599,0.614694,0.672938,0.041633,12
12,0.008135,0.001500,0.005549,1.811256e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.702017,0.645396,0.700464,0.682626,0.026333,10
13,0.006564,0.002799,0.002316,1.620543e-03,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.689639,0.713294,0.709253,0.704062,0.010331,3
14,0.006381,0.000442,0.002175,2.390012e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.725942,0.733984,0.740552,0.733493,0.005974,1
15,0.003913,0.000294,0.003010,8.193596e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.647587,0.621459,0.631028,0.633358,0.010793,16
16,0.005196,0.000839,0.003266,1.146170e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.639374,0.669859,0.712157,0.673797,0.029844,11
17,0.005408,0.001054,0.001228,8.807667e-04,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.690977,0.599691,0.649963,0.646877,0.037331,14

In [14]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:28
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:0

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5031.26955]